* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin: auto;
    margin-top: 60px;
    width: 300px;
    height: 450px;
    padding: 20px;
    border-radius: 20px;
    background-color: antiquewhite;
}

.productForm {
    display: flex;
    flex-direction: column;
}

h3 {
    width: 50%;
    font-size: 30px;
}

button {
    width: 100px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    position: fixed;
    top: 425px;
}